name: Pylint

on:
  push:
    branches:
      - '**'
  pull_request:
    branches: 
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r fullstack-project/backend/requirements.txt
        pip install pylint
    - name: Analysing the code with pylint, do not check for docstrings
      run: |
        git ls-files '*.py' | xargs -n 10 pylint --disable=C0114,C0115,C0116 || true
    - name: run pytest tests
      run: |
        pytest fullstack-project/backend/testing
